.logo{ 
	width: 8rem;
	height: 3rem;
	image-rendering:pixelated;
}
.Black{ 
	color: black;
}


.search{ 
	width: 37rem;
	height: 3rem;
}

.imagen__carrusel{ 
	width: 100%;
	height: 40rem;
	image-rendering:pixelated;
}
.nav__margin__items{ 
	margin-right: 40rem;
}.imagenes__index{ 
	width: 100%;
	height: 40rem;

}
.gif__tamanioo{ 
	width: 100%;
	height: 10rem;
	image-rendering:crisp-edges;

}
.fondo{ 
	background-color: #00947e;
}
.fondo__sesion{ 
	background-color: #006383;
}
.primavera{
	background-color: #00947e;
}
.verano{
	background-color: #ffcc7c;
}
.otonio{
	background-color: #ffb387;
}
.invierno{
	background-color:#006383 ;
}