<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../style/Style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/9e6bbf6ec5.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="header">
        <section class="header__logo">
                <img  class="header__logo--imagen" src="./img/logotipo-y-logo.jpeg" alt="">
        </section>
        
        <nav class="nav-buttons">
            <ul class="header__button__categoria">
                    <li><a href="../index.html">Home</a></li>
                    <li> <a href="./ayuda.html">Ayuda</a>
                    </li>
            </ul>
        </nav>
        <button class="iconocarrito">
            <i class="fas fa-dolly-flatbed"></i>
           </button>
        <section class="hearder__button">
         <ul >
                    <li ><a class="header__button__registrate" href="./registrate.html">Registrase</a>
                    </li>
                <li ><a class="header__button__session" href="./logIn.html">sesion</a>
                </li> 
        </ul>

           </section>
            
    </header>
</body>
</html>